.container.payroll-container
  %ul.nav.nav-tabs.nav-stacked{ role: 'tablist' }
    %li.active{ role: 'presentation' }
      %a{ href: '#pay-stubs', 'aria-controls': 'pay-stubs', role: 'tab', data: { toggle: 'tab' } } Pay Stubs
    %li{ role: 'presentation' }
      %a{ href: '#t4', 'aria-controls': 't4', role: 'tab', data: { toggle: 'tab' } } T4
    %li{ role: 'presentation' }
      %a{ href: '#roe', 'aria-controls': 'roe', role: 'tab', data: { toggle: 'tab' } } ROE

  .tab-content.payroll-tab-content
    .tab-pane.active#pay-stubs{ role: 'tabpanel' }
    .tab-pane#t4{ role: 'tabpanel' }
    .tab-pane#roe{ role: 'tabpanel' }
