.nav-tabs {
  border-bottom: 0;
}

.nav-tabs,
.nav-tabs.nav-justified {
  li > a {
    margin-right: 0;
    border-radius: 0;
    border: 0;
    color: $black;
  }

  li.active {
    a,
    a:hover,
    a:active,
    a:focus {
      color: $black;
      border: 0;
      background: $light-grey;
    }
  }
}

.tab-content {
  background: $light-grey;
  padding: 20px;
}
