body {
  font-family: $base-font-family;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 800;
}

// p {
//   margin: 0 0 $small-spacing;
// }

// a {
//   color: $action-color;
//   text-decoration: none;
//   transition: color $base-duration $base-timing;

//   &:active,
//   &:focus,
//   &:hover {
//     color: shade($action-color, 25%);
//   }
// }

// hr {
//   border-bottom: $base-border;
//   border-left: 0;
//   border-right: 0;
//   border-top: 0;
//   margin: $base-spacing 0;
// }
