// Taken from Bootstrapv3.3.6
$screen-xs-min: 382px !default;
// Small screen / tablet
$screen-sm-min: 768px !default;
// Medium screen / desktop
$screen-md-min: 992px !default;
// Large screen / wide desktop
$screen-lg-min: 1200px !default;
// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$screen: 'only screen';

// ----------------------------------------------------------------------
// These classes can be used directly in @media queries in SCSS:
//    @media #{$sm-only} { ... }
//    @media #{$md-up} { ... }

$xxs-up: $screen;
$xxs-only: '#{$screen} and (max-width: #{$screen-xxs-max})';

$xs-up: '#{$screen} and (min-width: #{$screen-xs-min})';
$xs-down: '#{$screen} and (max-width: #{$screen-xs-max})';
$xs-only: '#{$screen} and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max})';

$sm-up: '#{$screen} and (min-width: #{$screen-sm-min})';
$sm-down: '#{$screen} and (max-width: #{$screen-sm-max})';
$sm-only: '#{$screen} and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})';

$md-up: '#{$screen} and (min-width: #{$screen-md-min})';
$md-down: '#{$screen} and (max-width: #{$screen-md-max})';
$md-only: '#{$screen} and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})';

$lg-up: '#{$screen} and (min-width:#{$screen-lg-min})';
$lg-only: '#{$screen} and (min-width:#{$screen-lg-min})';
