.container
  %table.table.table-bordered
    %thead
      %tr
        %th Stations
        %th Certified
        %th Badges
    %tbody
      - @training_stations.each do |training_station|
        %tr
          %td= training_station.name
          - if training_station.certified
            %td= fa_icon 'check'
          - else
            %td= fa_icon 'times'
          %td= image_tag 'http://placehold.it/50x50'
