.container
  .row
    .col-md-offset-4.col-md-4.text-center
      %p Great! At Crave, we are very maticulous with our training as we'd like to make sure that you represent a brand that you are proud of. We have created this portal to help ease the process of training and retraining. The portal will also act as your go to reference spot once your training is done. Let's continue! We're going to fill out a form together to finalize your onboarding! When you are ready click on the lets start button!
      .btn-container
        = link_to 'Let\'s Start', next_wizard_path, class: 'btn btn-primary'
